.App {
  width: 1200px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  box-sizing: border-box;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#input {
  width: 420px;
  padding: 11px 0;
  padding-left: 10px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #919191c5;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  caret-color: #0059ff;
}

#input::placeholder {
  color: #000000;
  opacity: 1;
}

#submit {
  font-size: 18px;
  font-weight: 700;
  padding: 12.9px 15px;
  border: .7px solid white;
  background: #2B5DA8;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 0 3px black;
}

.todos {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

ul {
  list-style-type: none;
  width: 750px;
  height: 70vh;
  text-align: left;
  padding: 15px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background-color: #272742;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #b1b1db;
}

ul li {
  font-size: 30px;
  margin: 15px 0px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 3px #2e2e2ec7;
}